apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-hello
  labels:
    app: hello-world
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: hello-world
